<div class="promo">
  <div class="promo__row row">
    <div class="promo__col col-lg-4 col-sm-6">
      <div class="promo__item">
        <div class="promo__bg">
          <img src="image/catalog/{{ image_first }}" alt="" loading="lazy">
        </div>
        <div class="promo__txt-content pastel-html-js">
          {# pastel-html-js it wount work without this #}
          {{ txt_first }}
        </div>
      </div>
    </div>
    <div class="promo__col col-lg-4 col-sm-6">
      <div class="promo__item">
        <div class="promo__bg">
          <img src="image/catalog/{{ image_second }}" alt="" loading="lazy">
        </div>
        <div class="promo__txt-content pastel-html-js">
          {# pastel-html-js it wount work without this #}
          {{ txt_second }}
        </div>
      </div>
    </div>
    <div class="promo__col col-lg-4 col-sm-6">
      <div class="promo__item">
        <div class="promo__bg">
          <img src="image/catalog/{{ image_third }}" alt="" loading="lazy">
        </div>
        <div class="promo__txt-content pastel-html-js">
          {# pastel-html-js it wount work without this #}
          {{ txt_third }}
        </div>
      </div>
    </div>
  </div>

  <div class="promo__lower-txt pastel-html-js">
    {# pastel-html-js it wount work without this #}
    {{ txt_after }}
  </div>
  <div class="promo__gray-bl pastel-html-js">
    {# pastel-html-js it wount work without this #}
    {{ txt_gray }}
  </div>
</div>