<div class="vantage">
  <div class="vantage__row row">
    <div class="vantage__col col-lg-3 col-sm-6">
      <div class="vantage__inner-cont">
        <div class="vantage__img">
          <img src="image/catalog/{{ icon_date }}" alt="" loading="lazy">
        </div>
        <div class="vantage__txt">
            {{ txt_date }}
        </div>
      </div>
    </div>
    <div class="vantage__col col-lg-3 col-sm-6">
      <div class="vantage__inner-cont">
        <div class="vantage__img">
          <img src="image/catalog/{{ icon_delivery }}" alt="" loading="lazy">
        </div>
        <div class="vantage__txt">
          {{ txt_delivery }}
        </div>
      </div>
    </div>
    <div class="vantage__col col-lg-3 col-sm-6">
      <div class="vantage__inner-cont">
        <div class="vantage__img">
          <img src="image/catalog/{{ icon_shedule }}" alt="" loading="lazy">
        </div>
        <div class="vantage__txt">
          {{ txt_shedule }}
        </div>
      </div>
    </div>
    <div class="vantage__col col-lg-3 col-sm-6">
      <div class="vantage__inner-cont">
        <div class="vantage__img">
          <img src="image/catalog/{{ icon_quality }}" alt="" loading="lazy">
        </div>
        <div class="vantage__txt">
          {{ txt_quality }}
        </div>
      </div>
    </div>

  </div>

</div>