{{ header }}

<div id="page_content">

	<div class="container">
		<!-- content_top-->
		{{ content_top }}
		<!-- end content_top-->
	</div>
	<div class="block_tovar_home">
		<div class="container">
			{{ content_bottom }}
		</div>
	</div>
	{{ column_right }}
</div>
{{ footer }}