<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  {% if robots %}
    <meta name="robots" content="{{ robots }}"/>
  {% endif %}
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ og_url }}"/>
  {% if og_image %}
    <meta property="og:image" content="{{ og_image }}"/>
  {% else %}
    <meta property="og:image" content="{{ logo }}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ name }}"/>
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script sync src="catalog/view/javascript/match-height/jquery.matchHeight-min.js" type="text/javascript"></script>

  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  <!--
  <link href="catalog/view/theme/elki/stylesheet/style.css" rel="stylesheet">
   -->
  <!--redesign(new) js/css-->

  <link href="catalog/view/javascript/new-js/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/theme/elki/stylesheet/new-style.css" rel="stylesheet">

  <script src="catalog/view/javascript/new-js/swiper/js/swiper.min.js" type="text/javascript"></script>
  <script src="catalog/view/theme/elki/new-js/new-common.min.js" type="text/javascript"></script>
<!--end redesign js/css-->

  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>
<!-- Yandex.Metrika counter
<script type="text/javascript"> (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () {
      (m[i].a = m[i].a || []).push(arguments)
    };
    m[i].l = 1 * new Date();
    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym(56708308, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true}); </script>
-->
<noscript>
  <div><img src="https://mc.yandex.ru/watch/56708308" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- .top-line__-->
<div class="top-line">
  <div class="top-line__container container">

    <div class="top-line__row">
      <div class="top-line__txt-col">
        <span class="d-none d-md-inline">
          Интернет магазин новогодних живых ёлок,
        </span>
        <span>
          {{ address }}
        </span>

      </div>
      <div class="top-line__cart-col">
        {{ cart }}
      </div>
    </div>

  </div>
</div>

{# on this string depends feedback.ocmod.xml #}

                {% if callback_active == 1 %}
                <div class="modal fade modal-win" id="modalFeedbackHeader" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackHeaderLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div style="display:inline-block; width: 100%; text-align:right;">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form class="form-horizontal" id="form-feedback-header">
                          <h4 class="modal-win__title">Оставьте свой номер и мы перезвоним</h4>
                          <div class="form-group required">
                            <div class="col-sm-12 modal-win__col">
                              <label class="control-label" for="input-name">{{ entry_name }}</label>
                              <input type="text" name="name" value="{{ name_callback }}" id="input-name" class="form-control" placeholder="Васильев Иван Иванович" />
                            </div>
                            <div class="col-sm-12 modal-win__col">
                              <label class="control-label" for="input-phone">{{ entry_phone }}</label>
                              <input type="text" name="phone" value="{{ phone_callback }}" id="input-phone" class="form-control" placeholder="+7 (495) 777-87-09" />
                            </div>
                          </div>
                        </form>
                        <button type="button" id="button_send_feedback_header" data-loading-text="{{ text_loading }}"  class="modal-win__btn">{{ text_send }}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <script>
                  $('#button_send_feedback_header').on('click', function () {
                    $.ajax({
                      url: 'index.php?route=common/header/write',
                      type: 'post',
                      dataType: 'json',
                      data: $("#form-feedback-header").serialize(),
                      beforeSend: function () {
                        $('#button_send_feedback_header').button('loading');
                      },
                      complete: function () {
                        $('#button_send_feedback_header').button('reset');
                      },
                      success: function (json) {
                        $('.alert-success, .alert-danger').remove();
                        if (json['error']) {
                          $('#form-feedback-header').after('<div class="alert alert-danger" style="margin:20px 0;"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                        }
                        if (json['success']) {
                          $('#form-feedback-header').after('<div class="alert alert-success" style="margin:20px 0;"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
                          $('input[name=\'name\']').val('');
                          $('input[name=\'phone\']').val('');
                        }
                      }
                    });
                  });
                </script>
                {% endif %}
            
<header class="header">

  <div class="header__top d-xl-none">
    <div class="container">
      <div class="header__row">
        <a href="/" class="header__logo">
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
        </a>
        <div class="header__burger-btn burger-btn-js">
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="header__top">
    <div class="container">
      <div class="header__row">
        <!--1-->
        <a href="{{ telephone }}" class="header__tel number-link-js">
          <span class="header__tel-icon"></span>
          <span class="header__tel-txt tel-txt-js">
            {{ telephone }}
          </span>

        </a>
        <!--2-->
        <a href="/" class="header__logo d-none d-xl-flex">
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
        </a>
        <!--3-->
        <div class="header__feedback-call">
          
                    {% if callback_active == 1 %}
                        <!--if case feedback.ocmod.xml -->
				                <a href="#modalFeedbackHeader" id="button_feedback" data-toggle="modal">
				                    <span class="zvonok_top">{{ text_button_callback }}</span>
				                </a>
                    {% endif %}
                
        </div>

      </div>
    </div>
  </div>

  <div id="menu" class="header__menu header__menu-js">

    <div class="container">
      <div class="header__row mob-menu-header d-xl-none">
        <a href="/" class="header__logo">
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
        </a>
        <div class="header__burger-btn burger-btn-js active">
          <span></span>
        </div>
      </div>
      {{ menu }}
    </div>
  </div>

</header>